<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel='shortcut icon' href='/static/fav.png' type='image/x-icon'/ >
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>SJSU ASME</title>

    <style type="text/css">
        html, body, #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD225xErKuKMmaLZv6fruLlr6VzB6VLow">
    </script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>
<body>
    <div id="Header">
        <a href="/index.html">
            <img src="/static/tlogo-small.png" border="0" />
        </a>

        <div id="Heartbeat">

        </div>
    </div>
    <div id="Navigation">
        <table id="NavTable">
            <tr>
                <td><a href="/about">What We Do</a></td>
                <td><a href="/join">Join ASME</a></td>
                <td><a href="/events">Upcoming Events</a></td>
                <td><a href="/sprocket">Sprocket</a></td>
            </tr>
        </table>
    </div>
    <div id="handlerWrapper">
        <h1>{{Title}}</h1>
        <div id="contentImg">
            <img src="{{ImgDirectory}}" />
        </div>
        <div id="handlerContent">
            <a href="">RSVP</a>
            <a href="">Text Me Directions</a>
            <hr />
            <p>{{Description}}</p>
        </div>
        <div id="map-canvas">
            
        </div>
    </div>
</body>
</html>
