<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel='shortcut icon' href='/static/fav.png' type='image/x-icon'/ >
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>SJSU ASME</title>
</head>
<body>
    <div id="Header">
        <a href="/index.html">
            <img src="/static/tlogo-small.png" border="0" />
        </a>

        <div id="Heartbeat">

        </div>
    </div>
    <div id="Navigation">
        <table id="NavTable">
            <tr>
                <td><a href="/about">What We Do</a></td>
                <td><a href="/join">Join ASME</a></td>
                <td><a href="/events">Upcoming Events</a></td>
                <td><a href="/sprocket">Sprocket</a></td>
            </tr>
        </table>
    </div>
    <div class="Content">
        <img class="contentBackground" src="/static/background1.jpg" />
        <div class="HoverContent">
                <h2>Innovation</h2><br />
                <p>ASME proudly drives innovation at SJSU through flagship projects and senior project funding.</p>
            </div>
    </div>
    <div class="Content">
        <img class="contentBackground" src="/static/background2.jpg" />
        <div class="HoverContent">
            <h2>Collaboration</h2><br />
            <p>ASME connects you with students and staff alike to help you reach your engineering goals.</p>
        </div>
    </div>
    <div class="Content">
        <img class="contentBackground" src="/static/background3.jpg" />
        <div class="HoverContent">
            <h2>Resources</h2><br />
            <p>Through ASME, students are connected with a wealth resources to drive student success.</p>
        </div>
    </div>
    <div class="Content">
        <img class="contentBackground" src="/static/background4.jpg" />
        <div class="HoverContent">
            <h2>Industry Connections</h2><br />
            <p>ASME's numerous connections in the heart of Silicon Valley provides networking resources to student members.</p>
        </div>
    </div>
</body>
</html>
